
.main-content{
  display: flex;
  flex-wrap: wrap;
}
.left-panel{
  display:flex;
  flex: 1;
  min-width:300px;
}
.right-panel{
  display:flex;
  flex: 1 ;
}

.left-panel a{
  text-decoration: none;
}
.article{
  padding: 2px;
  padding-left: 10px;
  border-left: 2px solid paleturquoise;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .right-panel .article{
      width: 760px;
      overflow:auto;
    }
}
@media screen and (min-width: 360px) and (max-width: 640px) {
    .right-panel .article{
      width: 360px;
      overflow:auto;
    }
}
